{% extends 'index.html'%}
{% load static %}
{% block content %}
<div class="left">

</div>
<div class="middle">
    <div class="container">    
        <div class="section-items-align-center">
            <div class="alert-wrap">
                <div class="profile-frame">
                    <img class="profile-pic" 
                    {% if user.profile_pic %}
                    src="{{ user.profile_pic.url }}"
                    {% else %}
                    src="{% static 'img/no-profile-pic-icon-12.png' %}"
                    {% endif %} 
                    alt="profile picture">            
                </div>
                {% if dm.count > 0 %}
                <div class="dm-alert">{{dm.count}}</div>
                {% endif %}
            </div>
            <div class="title">JONG WOO CHOI</div>            
            <div class="sub-title">Web Developer | Python Full Stack</div>
            <div class="sub-title">Rockville MD USA</div>
            <div class="github"><a href="https://github.com/seanchoi/"><i class="fab fa-github"></i> github</a></div>
            <button class="btn contact">CONTACT ME!</button>            
        </div>        
    </div>
    {% if user.user_id == logged_user.user_id %}
    <div class="usermenu">
        <a href="/dm_check/" class="btn dm-check">Check DM</a>
        <a href="/logout/" class="btn btn-alert">LOGOUT</a>
    </div>
    {% endif %}

    <div class="container">
        <div class="i-wrap">
            <i class="fas fa-project-diagram"></i>
        </div>
        <div class="content-wrap">
            <div class="title"> FULL STACK PROJECTS</div>    

            <div class="content">
                <a href="http://www.skillmemo.com/skillmemo/">
                    <div class="section section-left-project">
                        <span>Social Media: SkillMemo(2020)</span>                    
                        <img src="{% static 'img/skillmemo.png' %}">
                    </div>
                </a>
                <div class="section">
                    <span>Python, Django</span>
                    <span>Solo Poject: 2 months</span>
                    <span>JavaScript, jQuery, Ajax</span>
                    <span>Restful API</span>
                    <span>Social Media Platform</span>                    
                    <span>User, Memo Search Function</span>
                    <span>User Account Settings</span>
                    <span>Saved Post Function</span>
                    <span>UX, UI Design</span>
                    <span>Code Note</span>
                    <span>YouTube Video ID Picker</span>                    
                    <span>Multiple Image Uploader</span>                    
                    <span>Memo Privacy Setting</span>                    
                    <span>DM function</span>
                    <span>Memo Oranizing By Tab</span>                    
                    <span>PostgreSQL or SQLite, AWS</span>
                    <span>ubuntu, nginx, gunicorn</span>
                </div>                
            </div>
            <div class="content">
                <a href="/map/google/">
                    <div class="section section-left-project">
                        <span>Starbucks Store Locator(2020)</span>                    
                        <img src="{% static 'img/sb_locator.png' %}">
                    </div>
                </a>
                <div class="section">
                    <span>Creative, Practical Project</span>
                    <span>Python, Django</span>                    
                    <span>Google Map API, JavaScript, JSON</span>                    
                    <span>Store Location, Direction</span>
                    <span>Store Data Entry Model</span>
                    <span>Map Bounds</span>                    
                    <span>Easy-to-Customize App</span>
                    <span>SQLite, AWS</span>
                </div>                
            </div>
            <div class="content">
                <a href="/multi/multiple_img/">
                <div class="section section-left-project">
                    <span>Multiple Image Upload Model(2019)</span>
                    <img src="{% static 'img/imageupload.png'%}">
                </div>
                </a>
                <div class="section">
                    <span>Python, Django</span>
                    <span>JavaScript, jQuery, Ajax</span>
                    <span>True Frontend Upload UX Model</a></span>                    
                    <span>Limit Upto 4 Images</span>
                    <span>Backend Process Upon Selection</span>
                    <span>Selection Clear(Front, Backend)</span>
                    <span>Upload/ Delete Blog Post</span>                    
                    <span>SQLite or PostgreSQL, AWS</span>
                    <span>ubuntu, gunicorn, nginx</span>
                </div>
            </div>
            <div class="content">
                <a href="/register/">
                    <div class="section section-left-project">
                        <span>Login/ Registration(2019)</span>
                        <img src="{% static 'img/login.png' %}">
                    </div>
                </a>
                <div class="section">
                    <span>Python, Django</span>
                    <span>JavaScript, Ajax</span>
                    <span>Restfull API</span>
                    <span>Front and Backend Validation</span>                    
                    <span>Registration & Login</span>                                        
                    <span>Mini Dashboard</span>
                    <span>Update/Delete Profile Picture</span>                                        
                    <span>SQLite, AWS</span>                                        
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="i-wrap">
            <i class="fas fa-project-diagram"></i>
        </div>
        <div class="content-wrap">
            <div class="title"> FRONTEND PROJECTS</div>    
            <div class="content">
                <a href="https://airbnb-21440.web.app">
                    <div class="section section-left-project">
                        <span>Airbnb Clone/ Date Picker(2020)</span>                    
                        <img src="{% static 'img/airbnb.png' %}">
                    </div>
                </a>
                <div class="section">                                        
                    <span>REACT</span>
                    <span>FIREBASE</span>
                    <span>Search Dates Function</span>    
                    <span>Search Result Page</span>
                    <span>Full Responsive Design</span>
                </div>
            </div>
            <div class="content">
                <a href="https://choiproj-messageapp.web.app/">
                    <div class="section section-left-project">
                        <span>Discussion Board(2019)</span>                    
                        <img src="{% static 'img/discussion.png' %}">
                    </div>
                </a>
                <div class="section">                                        
                    <span>REACT</span>
                    <span>Redux</span>
                    <span>FIREBASE</span>
                    <span>Google Account Auth.</span>                        
                    <span>Full Responsive Design</span>
                </div>
            </div>

            <div class="content">
                <a href="https://www.washingtonianlaw.com">
                    <div class="section section-left-project">
                        <span>WashingtonianLaw.com(2020)</span>                    
                        <img src="{% static 'img/washingtonian.png' %}">
                    </div> 
                </a>
                <div class="section">                                                                                
                    <span>DC Area Law Firm/ Agency</span>
                    <span>Custom Website Design</span>
                    <span>Custom Layer Slider</span>    
                    <span>Custom Contact Form</span>                    
                </div>
            </div>
            <div class="content">
                <a href="https://www.wordnsaction.org">
                    <div class="section section-left-project">
                        <span>Words and Actions(2015-2019)</span>                    
                        <img src="{% static 'img/wordsnactions.png' %}">
                    </div>
                </a>
                <div class="section">                                                                                    
                    <span>non-profit organization</span>
                    <span>Custom Website Design</span>                        
                    <span>Custom Contact Form</span>                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="i-wrap">
            <i class="fas fa-code"></i>
        </div>
        <div class="content-wrap">
            <div class="title">SKILL SET</div>    
            <div class="content">
                <!-- <div class="section section-left" id="skillset">
                    <span>LANGUAGES</span>                    
                    <span>TOOLS</span>
                </div> -->
                <div class="section">
                    <span>Python, Anaconda, Jupyter, Pandas, Matplotlib</span>
                    <span>Django, Flask, REACT, Redux </span>
                    <span>JavaScript, jQuery, AJAX, Google API</span>
                    <span>HTML, CSS</span>                    
                    <span>MySQL, PostgreSQL, FireBase</span>
                    <span>AWS, linux/Ubuntu, nginx, gunicorn, </span>
                    <span>Font Awesome, Material UI, </span>
                    <span>Adobe Creative Suite</span>
                    <span>Affinity Designer Suite</span>
                    <span>Final Cut Pro X, Logic Pro X</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-background">
    <div class="dm-modal">
        <div class="dm-title">To: Jong Woo Choi</div>
        <form action="/dm/" method="POST">
            {% csrf_token %}
        <div class="dm-wrapper">
            <table>
                <tr>
                    <td class="dm-left">Name</td>
                    <td class="dm-right"><input type="text" name="dm_from_name"></td>
                </tr>
                <tr>
                    <td class="dm-left">Email</td>
                    <td class="dm-right"><input type="text" name="dm_from_email"></td>
                </tr>
                <tr>
                    <td class="dm-left">Message</td>
                    <td class="dm-right"><textarea class="dm-msg" name="dm_msg" rows="6"></textarea></td>
                </tr>
            </table>
            <input type="hidden" name="dm_to" value="{{user.user_id}}">
            <div class="dm-send-wrap">
                <div class="btn dm-cancel">Cancel</div>
                <button class="btn dm-send">Send</button>
            </div>
        </div>
        </form>
    </div>
  </div>
<div class="right">

</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/dm.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dm.css' %}">
{% endblock %}