{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jong Woo Choi's Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bdf130d6e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script>    
        var stores = ""
        $.getJSON("{% static 'js/store_data.json' %}", function(json) {
            console.log(json)    
            stores = json
        });
    </script>
    <!-- <script>
        let stores = ""
        function loadJSON(callback) {   
    
            var xobj = new XMLHttpRequest();
                xobj.overrideMimeType("application/json");
            xobj.open('GET', '{% static "js/store_data.json" %}', true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function () {
                  if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    callback(xobj.responseText);
                  }
            };
            xobj.send(null);  
         }
         function init() {
            loadJSON(function(response) {
             // Parse JSON string into object
               stores = JSON.parse(response);
            });
           }
           init()
    </script> -->
</head>
<body>
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>