{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="left">

</div>
<div class="middle">
    <div class="form-container">
        <div class="container">
            <form action="/register/" method="POST" id="login_form" autocomplete="off">
                {%csrf_token %}
                <div class="form-wrap">
                    <div class="form-title-wrap">                                        
                        <div class="title">Login</div>                       
                    </div>
                    <table class="form-tbl">
                        <tr class="tbl-row">
                            <td class="form-title">User ID</td>
                            <td class="form-input"><input type="text" name="user_id" id="login_id">
                                <div id="login_id_msg"></div>
                            </td>                            
                        </tr>
                        <tr class="tbl-row">
                            <td class="form-title">Password</td>
                            <td class="form-input"><input type="password" name="password">                  
                            </td>                            
                        </tr>    
                    </table>
                </div>
                <button class="btn" id="create">Login</button>      
                <a href="/forgot_pass/">forgot password</a>
                <div class="errors">
                    {% for message in messages %}
                    <div class="error_msg">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="right">

</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/login_reg.js' %}"></script>

{% endblock %}